.btn {
  margin: 3px;
}

.overlay {
  top: 0;
}

.navbar {
  position: absolute;
}

#begin {
  position: absolute;
  top: -590px;
  /* left: 310px;   */
  width: 140px; 
  height: 140px; 
  border-radius: 70px; 
  font-size: 30px; 
  text-align: center; 
  border-width: 0px;
}

#loop {
  object-fit: cover;
  margin-top: -350px;
  margin-left: -290px;
}

#pool {
  object-fit: cover;
  position: absolute;
  top: -90px;
  opacity: 50%;

}
